<?xml version="1.0"?>

<robot name="octorotor" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Included URDF Files -->
    <xacro:include filename="$(find hector_octorotor_description)/urdf/octorotor_base.urdf.xacro" />
    
    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <xacro:octorotor_dummy/>

</robot>
